body {
  background-color: #121212;
  color: #ffffff;
}

.bg-dark {
  background-color: #343a40 !important;
}

.text-white {
  color: #ffffff !important;
}

.form-control.bg-dark {
  background-color: #343a40;
  color: #ffffff;
}

.list-group-item.bg-dark {
  background-color: #343a40;
  color: #ffffff;
}